<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Musicode</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app/components/musicode/editor/style.css" media="screen" title="no title" charset="utf-8">

    <script src="jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="angular/angular.js" charset="utf-8"></script>

    <script src="app/components/musicode/editor/module.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/services/pitch-names.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/services/note-utils.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/directives/note.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/directives/note-editor.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/directives/track.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/directives/timeline.js" charset="utf-8"></script>
    <script src="app/components/musicode/editor/directives/editor.js" charset="utf-8"></script>

    <script src="app/app.module.js" charset="utf-8"></script>
  </head>
  <body ng-app="musicodeApp" ng-controller="myController as scope">
    <mc-editor foo="scope.x" on-save="scope.onEditorSave(result)"></mc-editor>


    <hr>
    <h3>Standalone Timeline</h3>
    <mc-timeline tick-width="20">timeline</mc-timeline>

    <hr>
    <h3>Track</h3>
    <mc-track tick-width="30" zoom-level="1"></mc-track>

    <hr>
    <h3>Note Editor (Editable Note)</h3>
    <div ng-controller="noteEditor">
      Bound models for the first note: <br>
      zoom level <input type="number" ng-model="zoomLevel"><br>
      tick width <input type="number" ng-model="tickWidth"><br>
      note duration <input type="number" ng-model="duration"><br>
      pitch <input type="number" ng-model="pitch"><br>
      <div class="clearfix">
        <mc-note-editor zoom-level="zoomLevel" tick-width="tickWidth" duration="duration" pitch="pitch"></mc-note-editor>
        <mc-note-editor zoom-level="zoomLevel" tick-width="tickWidth"></mc-note-editor>
        <mc-note-editor zoom-level="zoomLevel" tick-width="tickWidth"></mc-note-editor>
      </div>
    </div>

    <hr>
    <h3>Note</h3>

    <div ng-controller="note">
      Bound models for the first note: <br>
      zoom level <input type="number" ng-model="zl"><br>
      tick width <input type="number" ng-model="zq"><br>
      note duration <input type="number" ng-model="duration"><br>
      pitch <input type="number" ng-model="pitch"><br>

      <div class="clearfix">
        <mc-note zoom-level="zl" tick-width="zq" duration="duration" pitch="pitch"></mc-note>
        <mc-note zoom-level="zl" tick-width="zq" duration="0.5" pitch="3"></mc-note>
        <mc-note zoom-level="zl" tick-width="zq" duration="2" pitch="9"></mc-note>
      </div>
    </div>

    <script type="text/javascript">
      angular.module('musicode').controller('note', function ($scope) {
        $scope.zl = 3;
        $scope.zq = 20;
        $scope.duration = 2;
        $scope.pitch = 3;
      });

      angular.module('musicode').controller('noteEditor', function ($scope) {
        $scope.zoomLevel = 3;
        $scope.tickWidth = 20;
        $scope.duration = 2;
        $scope.pitch = 3;

        $scope.foo = 1;
        $scope.bar = 1;
      });
    </script>
  </body>
</html>
