<div class="note-editor">
  <div class="note-envelope">
    <mc-note
      zoom-level="zoomLevel"
      tick-width="tickWidth"
      duration="duration"
      pitch="pitch"></mc-note>
    <div class="resize-handle"></div>
  </div>
  <div class="menu">
      <input type="button" value="add before" ng-click="onAddBefore()" />
      pitch: <select ng-model="pitch" ng-options="pitches.indexOf(pitch) as pitch for pitch in pitches"></select>
      <input type="button" value="add after" ng-click="onAddAfter()" />
      <div>position: {{ position }}</div>
      <div>duration: {{ duration }}</div>
      <div>width: {{ duration * zoomLevel * tickWidth }}</div>
  </div>
</div>
