.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.timeline {
  white-space: nowrap;
  overflow-x: scroll;
  font-size: 0;
}

.note,
.note-editor {
  font-size: 16px;
}

.note {
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  background-color: #ffddee;
  border: 1px solid black;
  border-radius: 8px;
}

.note .pitch-label {
  vertical-align: -5px;
  padding-left: 6px;
  font-family: sans-serif;
}

.note-envelope {
  display: inline-block;
  position: relative;
}

.resize-handle {
  display: none;
  box-sizing: border-box;
  width: 10px;
  height: 30px;
  background-color: #774D62;
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
  border: 1px solid black;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

body.dragging-note {
  cursor: ew-resize;
}

.note-editor {
  display: inline-block;
}

.note-editor .menu {
  display: none;
  position: absolute;
  z-index: 10000;
  background-color: grey;
}

.note-editor:hover .menu,
.note-editor.dragging .menu {
  display: block;
}
.note-editor:hover .resize-handle,
.note-editor.dragging .resize-handle {
  display: block;
}
