.note {
  height: 30px;
  background-color: #ffddee;
  border: 1px solid black;
  border-radius: 8px;
}

.resize {
  position: relative;
  background-color: green;
  height: 20px;
}

.discrete-indicator {
  height: 20px;
  background-color: orange;
}

.note-envelope {
  display: inline-block;
  position: relative;
  background-color: lightgrey;
}

.resize-handle {
  width: 10px;
  height: 30px;
  background-color: #774D62;
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
  border: 1px solid black;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

body.dragging-note {
  cursor: ew-resize;
}
